
canvas{
  width: 100%;
  margin-top: 6px;
  margin-bottom: 100px;
  image-rendering: pixelated;
}

.container{
  width: 1000px;
  max-width: 100%;
  margin: 50px auto;
}

.title{
  text-align: center;
  font-size: 50px;
  margin-bottom: 30px;
}

.description{
  font-size: 20px;
  margin-bottom: 40px;
}

.imageInputLabel{
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 6px 20px;
  background: #88f;
  border-radius: 6px;
  outline: none;
  border: 2px solid #66f;
  cursor: pointer;

  .imageInput{
    display: none;
  }
}

button{
  padding: 6px 20px;
  border-radius: 6px;
  outline: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;

  &:disabled{
    background: grey;
    border: 2px solid #555;
  }
}

.generateButton{
  background: #88f;
  border: 2px solid #66f;
}

.modeButton{
  background: #74af96;
  border: 2px solid #003b32;

  &.modeSelected{
    background: hsl(157, 100%, 18%);
  }
}

.optionButton{
  background: #6ca5b6;
  border: 2px solid #002e3b;

  &.optionSelected{
    background: #00485e;
  }
}

.warning{
  padding: 10px 20px;
  margin-top: 6px;
  background: #f44;
  border-radius: 10px;
  border: 1px solid red;
}

.demoImages{
  margin-bottom: 20px;

  .demoImage{
    height: 100px;
    image-rendering: pixelated;
    margin-right: 10px;
  }
}

